/*
*Footer Styles
*/
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background-color: #2490bb;
  padding: 20px 0;
  justify-content: center;

  div {
    color: #fff;
    font-size: 1.2rem;
  }
}
/*
*End footer styles
*/
