/*
*Container Styles
*/
* {
  margin: 0;
}

.dash-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 800px) {
  .dash-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}

.dash-container {
  //Set to 100 view height minus footer height - sticky footer
  min-height: calc(100vh - 62px);
  width: 100%;
  padding: 10px 0;
}

/*
*End Container Styles
*/
